.games{
    display: flex;
    margin: 1.5rem;
    flex: 1;
    padding: 0.3rem;
    flex-direction: column;
    justify-content: space-evenly;
}

.status input{
 margin-bottom: 0.5rem;   
 background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
 border: none;
 width: 80%;
 padding: 0.5rem;
 border-radius: 2rem;
 

 
}